body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}

header {
    background: #0288d1;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

#content {
    padding: 20px;
}

footer {
    background: #0288d1;
    padding: 10px;
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}
